{% extends "base.html" %}

{% block title %}Museum{% endblock %}

{% block content %}
    <div id="boxgallery">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-1.jpg" alt="gallery 1">
        <img id="gallery" src="{{ SITEURL }}/images/content/Fq_u92PaEAAETCZ.jpg" alt="gallery 2">
        <img id="gallery" src="{{ SITEURL }}/images/content/wallpaper.jpg" alt="gallery 3">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-2.jpeg" alt="gallery 4">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-dsdasdas.jpeg" alt="gallery 5">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-untitledssx-1dsd.jpeg" alt="gallery 6">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-vladimir-motsar-1.jpeg" alt="gallery 7">
        <img id="gallery" src="{{ SITEURL }}/images/content/vladimir-motsar-y888.jpeg" alt="gallery 8">
    </div>
{% endblock %}
