<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Johnblog</title>
    <link href="{{ site.baseurl }}/assets/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
    <link rel="preload" href="{{ site.baseurl }}/images/1648215850338.webp" as="image" type="image/jpeg">
    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:image" content="https://johntitorr.me/images/favicon/android-chrome-512x512.png" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#FF0000">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": "{{ page.title }}",
            "description": "{{ page.excerpt | strip_html }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
            "dateModified": "{{ page.last_modified_at | date: '%Y-%m-%d' }}",
            "author": {
              "@type": "Person",
              "name": "John"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Johnblog",
              "logo": {
                "@type": "ImageObject",
                "url": "https://johntitorr.me/images/favicon/android-chrome-512x512.png"
              }
            },
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "{{ page.url | absolute_url }}"
            }
          }          
        </script>
      
</head>
<body>
    <header>
        <div id="bannerimage"></div>
    </header>
    <nav id="crt">
        <div id="sidebar">
            <a href="{{ site.baseurl }}/">Main</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/museum">Museum</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
        </div>
    </nav>
    <main>
        <div id="library-content">
            <h1>{{ page.title }}</h1>
            <p>{{ content | markdownify }}</p>
        </div>
    </main>
    <footer>
        <div id="footer_donation">
            <img src="{{ site.baseurl }}/images/btc_icon.webp" alt="btc icon" width="15">
            <a>bitcoin</a>
            <code>bc1qj58ps8jz28st2n4p73c2cpe8z39kjy7sjnv467</code><br>
            <img src="{{ site.baseurl }}/images/litecoin-ltc-icon.webp" alt="ltc icon" width="15">
            <a>litecoin</a>
            <code>ltc1q5696dt5vdyp4f5pcfh3d38ukcdgmmw52asjec3</code>
        </div>
        <div id="footer">
            <a href="https://www.amd.com/en.html" target="_blank"><img src="{{ site.baseurl }}/images/buttons/amd.gif" alt="AMD" width="88" height="31"></a>
            <a href="https://www.mozilla.org/en-US/firefox/browsers/" target="_blank"><img src="{{ site.baseurl }}/images/buttons/firefox.gif" alt="Firefox" width="88" height="31"></a>
            <a href="https://store.steampowered.com/app/2310/QUAKE/" target="_blank"><img src="{{ site.baseurl }}/images/buttons/aniquake.gif" alt="QUAKE" width="88" height="31"></a>
            <img src="{{ site.baseurl }}/images/buttons/mikubutton.gif" alt="Miku" width="88" height="31">
            <img src="{{ site.baseurl }}/images/buttons/blink.gif" alt="AnimeGirl" width="88" height="31">
            <img src="{{ site.baseurl }}/images/buttons/sailormoon.gif" alt="SailorMoon" width="88" height="31">
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank"><img src="{{ site.baseurl }}/images/buttons/agplv3.gif" alt="AGPL" width="88" height="31"></a>
            <a href="https://discord.gg/ve78A98may" target="_blank"><img src="{{ site.baseurl }}/images/buttons/discord.png" alt="Discord" width="88" height="31"></a>
            <a href="https://archive.org/" target="_blank"><img src="{{ site.baseurl }}/images/buttons/internetarchive.gif" alt="internetarchive" width="88" height="31"></a>
        </div>
    </footer>
        <!-- PrismJS JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-core.min.js"></script>
        <!-- Bash Support -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-bash.min.js"></script>
</body>
</html>
